@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Symbols+2&family=Rubik+Scribble&family=Zilla+Slab+Highlight:wght@400;700&display=swap");

.custom-header {
  position: sticky;
  padding: 10px 30px;
  top: 0;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* .logo {
  font-size: 2rem;
  font-weight: bold;
  font-family:
    rubik scribble,
    sans-serif;
} */

.logo:hover {
  color: #66dbfb;
}

@keyframes textShine {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.nav-list {
  display: flex;
  gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  font-size: 1.1rem;
  transition: text-decoration 0.2s;
}

.nav-link:hover {
  text-decoration: underline;
  color: #66dbfb;
}
